body {
    font-family: "Roboto", sans-serif;
    background-color: black;
}
ul {
    list-style-type: none;
}

li {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    box-shadow: 1px 1px 3px black;
}

div#board {
    position: relative;
    width: 1024px;
    height: 863px;
    margin: auto;
    background: url("board.jpg") no-repeat;
}